@import "tailwindcss";
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    /* background-color: rgba(1, 35, 1, 0.801); */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    /* background: rgba(255, 255, 255, 0.087);    
     backdrop-filter: blur(20px) saturate(160%);
     -webkit-backdrop-filter: blur(20px) saturate(160%); */
}
.nav a{
    display: none;
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 500;
}

.hero{
    background-image:linear-gradient(rgb(1, 35, 1), rgba(0, 21, 0, 0.6),rgba(1, 27, 1, 0.436)),url('/public/Images/earth-day-celebration-concept.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.hero-content{
    padding-left: 80px;
    padding-top: 200px;
}
.hero h1{
    color: white;
    font-size: 3rem;
    text-align:left;
    font-weight: 700;
    line-height: 60px;
}
.cta-button{
    margin-top: 20px;
    background-color: #01413F; 
    border: none;
    color: white;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    height:40px;
    width: 130px;
}

.cta-button:hover{
    background-color: #012D2A;
}
.about-section{
    width: 80%;
    height: 70vh;
    background-color:#08726e3c ;
    display: flex;
    border-radius: 10px;
    display: flex;
    justify-self: center;
    margin-top: 50px;
}
.about-content{
    display: flex;
    align-items: center;
    justify-content:center;
    /* gap: 40px; */
}
.image img{
    width:1000px;
    height: 400px;
    border-radius: 10px;
   
}
.about-text{
    color: black;
    font-weight: 500;
    padding: 40px;
    line-height: 30px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
    p{
        width: 65%;
        font-weight: 400;
    }
}
.partners{
    margin-top: 60px;
    background-color: #AACAC9;
    height: 150px;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.partner-logos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.projects-section{
    margin-top: 100px;
    h4{
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
        margin-top: 40px;
        color:#01413F;
    }
    p{
        text-align: center;
        font-size: 1rem;
        margin-top: 10px;
        color: #01413f6c;
    }
}

.cards{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}
.items{
    background-color: #F5F5F5;
    width: 280px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    p{
        text-align:left;
        color: #01413F;
        font-weight: 500;
    }
}

.latest-section{
    margin-top: 100px;
    h4{
        font-size: 2rem;
        font-weight: 700;
        margin-top: 40px;
        margin-left: 50px;
        color:#01413F;
        line-height: 30px;
    }
    
}
.latest-cards{
    display: flex;
    justify-content: center;
     justify-content:space-around;
    margin-top: 30px;
    margin-left: 30px;
}
.latest-item{
    display: flex;
    gap: 30px;
    margin-top: 30px;
    height:fit-content;
    width:fit-content;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    img{
        width: 400px;
        height: 250px;
        border-radius: 10px;
    }
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center ;
    padding: 20px;
    gap: 10px;  
    color:#0C7412;
}
.latest-item1{
   
}