@import "tailwindcss";
.hero{
    background-image:linear-gradient(rgb(1, 35, 1), rgba(0, 21, 0, 0.6),rgba(1, 27, 1, 0.436)),url('/public/Images/earth-day-celebration-concept.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.hero-content{
    padding-left: 80px;
    padding-top: 200px;
}
.hero h1{
    color: white;
    font-size: 3rem;
    text-align:left;
    font-weight: 700;
    line-height: 60px;
}
.cta-button{
    margin-top: 20px;
    background-color: #01413F; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    height:40px;
    width: 130px;
}