@import "tailwindcss";
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    /* background-color: rgba(1, 35, 1, 0.801); */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    /* background: rgba(255, 255, 255, 0.087);    
     backdrop-filter: blur(20px) saturate(160%);
     -webkit-backdrop-filter: blur(20px) saturate(160%); */
}
.nav a{
    display: none;
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 500;
}

.hero{
    background-image:linear-gradient(rgb(1, 35, 1), rgba(0, 21, 0, 0.6),rgba(1, 27, 1, 0.436)),url('/public/Images/earth-day-celebration-concept.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.hero-content{
    padding-left: 80px;
    padding-top: 200px;
}
.hero h1{
    color: white;
    font-size: 3rem;
    text-align:left;
    font-weight: 700;
    line-height: 60px;
}
.cta-button{
    margin-top: 20px;
    background-color: #01413F; 
    border: none;
    color: white;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    height:40px;
    width: 130px;
}

.cta-button:hover{
    background-color: #012D2A;
}
.about-content{
    width: 80%;
    height: 300px;
    background-color:#08726e3c ;
    border-radius: 10px;
    display: flex;
    justify-self: center;
    margin-top: 50px;
}
.about-text{
    color: black;
    font-weight: 500;
    padding: 40px;
    line-height: 30px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
    p{
        width: 60%;
        font-weight: 400;
    }
}